body * {
  box-sizing: border-box;
}

body {
  background-color: #112D4E;
  color: #F9F7F7;
}

h1 {
  font-size: 4em;
  color: #DBE2EF;
}

h2 {
  font-size: 2em;
}

header {
  background-color: #3F72EF;
  border: 5px solid white;
  margin: 5px;
  padding: 10px;
  /* border-width: 5px;
  border-style: dotted; */
}

main {
  background-color: #3F72EF;
  padding: 5px;
  border: 3px solid white;
  margin: 10px;
}

#intro {
  border: 3px solid white;
  margin: 5px;
  padding: 5px;
}

img {
  width: 100%;
}

#education {
  border: 3px solid white;
  float: left;
  width: 32%;
  margin: 5px;
  padding: 5px;
}

#job {
  border: 3px solid white;
  float: left;
  width: 32%;
  margin: 5px;
  padding: 5px;
}

#goals {
  border: 3px solid white;
  float: left;
  width: 32%;
  margin: 5px;
  padding: 5px;
}

ul {
  padding: 5px;
  list-style: disc;
  list-style-position: inside;
}

#places {
  border: 3px solid white;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

ol {
  padding: 5px;
  list-style: decimal;
  list-style-position: inside;
}
